@mixin flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1.25rem;
}

@mixin grid{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 100px 1fr;
}