@media (max-width: 425px){
    .carousel-inner img{
        width: 420px;
        height: 200px;
    }

    .nuestrosClientes img{
        height: 100px;
        width: 100px;
    }

    .footerLogo img{
        width: 200px;
        height: 200px;
    }
}