@media (max-width: 768px){
    .footer{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    iframe{
        width: 250px;
        height: 150px;
    }

    .sectionClientes{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .nuestrosClientes img{
        height: 120px;
        width: 120px;
    }

    .header{
        flex-direction: column;
        align-items: center;
    }

    .logo img{
        width: 150px;
        height: 150px;
    }

    .carousel-inner img{
        width: 750px;
    }
}